@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #171717;
  --foreground: #ffffff;
}

*{
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  .itemcard {
    max-width: 8rem;
  }

  :root {
    -webkit-overflow-scrolling: touch;
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}



.searchBarDiv {
  padding: 10px;
  background: white;
  margin: 0;
}


.searchBar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  background: #878787;
  width: 100%;
}

.searchBarBtn {
  padding: 10px;
}

.searchBarInput {
  border: none;
  width: 100%;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0)
}

.searchBarInput:focus {
  outline: none;
  background: white;
}

.disableTouchSelect {
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}