@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #171717;
  --foreground: #ffffff;
}

::-webkit-scrollbar {
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: royalblue;
  border-radius: 10px;
  width: 2px;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  .itemcard {
    max-width: 8rem;
  }

  :root {
    -webkit-overflow-scrolling: touch;
    --background: #171717;
    --foreground: #ffffff;
  }
}

@media screen and (orientation:landscape) {
  #orint {
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: 100vh;
    height: 100vw;
    overflow: scroll;
  }
}

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}



.searchBarDiv {
  padding: 10px;
  background: white;
  margin: 0;
}


.searchBar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  background: #878787;
  width: 100%;
}

.searchBarBtn {
  padding: 10px;
}

.searchBarInput {
  border: none;
  width: 100%;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0)
}

.searchBarInput:focus {
  outline: none;
  background: white;
}

.disableTouchSelect {
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.cls-1 {
  fill: #1877f2;
}

.cls-2 {
  fill: #fff;
}

.swiper-wrapper {
  height: max-content !important;

  width: max-content;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;

}

.product-thumb .swiper-slide.swiper-slide-thumb-active>.slide\:border-indigo-600 {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}